body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 174, 243);
    position: relative;
    text-align: center;
  }
  
  h1 {
    color: white;
    position: relative;
    text-align: center;
  }
  
  input{
    height: 25px;
    font-style: italic;
    width: 280px;

  }
  
  button {
    background-color: rgb(182, 73, 182);
    color: white;
    position: relative;
    text-align: center;
    height:30px;
    bottom: 20px;
  }
  p{
    color: white;
    font-weight: bold;
    font-size: large;
    position: relative;
    text-align: center;
  }