body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  position: relative;
  text-align: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('https://nikilitha26.github.io/vue.jsImages/interest-removebg-preview.png'); */
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: top;
  filter: blur(5px);
  z-index: -1;
}

h1 {
  color: #333; 
  position: relative;
  text-align: center;
}

input{
  height: 25px;
  font-style: italic;
  width: 280px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 5px;
} 

button {
  background-color: #4CAF50; 
  color: white;
  position: relative;
  text-align: center;
  height:30px;
  bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

button:hover {
  background-color: #3e8e41;
}

p{
  color: #333; 
  font-weight: bold;
  font-size: large;
  position: relative;
  text-align: center;
}